.topbar {
    background-color: lightcoral;
    overflow: hidden;
 }

 .topbar h1 {
    color: white;
    text-align: center;
 }

 .map {
   width: 100%;
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 100px;
 }

 .bottombar {
    background-color: lightcoral;
    overflow: hidden;
    height:5%;
    width: 100%;
    /*100% width ensures that bottombar is unaffected by the page resolution */
    position: absolute;
    bottom: 0px;
    right: 0px;
 }

 .bottombar p {
    color: white;
    text-align: center;
    font-size: 17px;
  }

  body {
    margin: 0;
    padding: 0;
     /*set margin and padding to 0 can make bars can fit the page */
  }
